# Get From PDF
This script implements the following steps:
* define the bounding box, which is represented through a list with the following shape: `[top,left,bottom,width]`. Data within the bounding box are expressed in cm. They must be converted to PDF points, since `tabula-py` requires them in this format. We set the conversion factor `fc = 28.28`.
* extract data using the `read_pdf()` function
* save data to a `pandas` dataframe.

In this example, we scan the pdf twice: firstly to extract the regions names, secondly, to extract tables. Thus we need to define two bounding boxes.

## Extract Regions names
Firstly, we define the bounding box to extract the regions:

In [223]:
box = [1.5, 22,3.8,26.741]
fc = 28.28
         
for i in range(0, len(box)):
    box[i] *= fc

Then, we import the `tabula-py` library and we define the list of pages from which we must extract information, as well as the file name.

In [224]:
import tabula as tb

pages = [3,5,6,8,9,10,12,14,16,18,22,24,26,28,30,32,34,36,38,40]
file = "source/Bolletino-sorveglianza-integrata-COVID-19_17-marzo-2020_appendix.pdf"

Now we can read the list of regions from the pdf. We use the `read_pdf()` function and we set the output format to `json`.

In [225]:
regions_raw = tb.read_pdf(file, pages=pages,area=[box],output_format="json")
regions_raw

[{'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 98.72,
     'left': 623.26,
     'width': 64.68998718261719,
     'height': 7.019999980926514,
     'text': 'Piemonte'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 87.00999450683594,
     'height': 7.019999980926514,
     'text': "Valle D'Aosta"}],
   [{'top': 94.7,
     'left': 624.78,
     'width': 127.40995025634766,
     'height': 5.519999980926514,
     'text': 'tori di riferimento regionale'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 71.28996276855469,
     'height': 7.019999980926514,
     'text': 'Lombardia'}],
   [{'top': 94.7,
     'left': 627.02,
     'width': 103.44998931884766,
     'height': 5.519999980926514,
     'text': 'boratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 54.97001647949219,
     'height': 7.019999980926514,
     'text': 'Bolzano'}],
   [{'top': 94.7,
     'left': 627.19,
     'width': 91.70999908447266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 46.56999206542969,
     'height': 7.019999980926514,
     'text': 'Trento'}],
   [{'top': 94.7,
     'left': 627.08,
     'width': 91.70999908447266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 49.80998229980469,
     'height': 7.019999980926514,
     'text': 'Veneto'}],
   [{'top': 94.7,
     'left': 626.78,
     'width': 97.65995025634766,
     'height': 5.519999980926514,
     'text': 'oratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 119.16996765136719,
     'height': 7.019999980926514,
     'text': 'FriuliVeneziaGiulia'}],
   [{'top': 94.7,
     'left': 628.02,
     'width': 91.70999908447266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 47.65000915527344,
     'height': 7.019999980926514,
     'text': 'Liguria'}],
   [{'top': 94.7,
     'left': 627.42,
     'width': 91.70999908447266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 101.65000915527344,
     'height': 7.019999980926514,
     'text': 'EmiliaRomagna'}],
   [{'top': 94.7,
     'left': 626.44,
     'width': 97.56998443603516,
     'height': 5.519999980926514,
     'text': 'oratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 55.68998718261719,
     'height': 7.019999980926514,
     'text': 'Toscana'}],
   [{'top': 94.7,
     'left': 626.46,
     'width': 91.68997955322266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 50.53001403808594,
     'height': 7.019999980926514,
     'text': 'Marche'}],
   [{'top': 94.7,
     'left': 625.25,
     'width': 97.56998443603516,
     'height': 5.519999980926514,
     'text': 'oratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 38.16996765136719,
     'height': 7.019999980926514,
     'text': 'Lazio'}],
   [{'top': 94.7,
     'left': 627.42,
     'width': 91.70999908447266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 56.04997253417969,
     'height': 7.019999980926514,
     'text': 'Abruzzo'}],
   [{'top': 94.7,
     'left': 626.46,
     'width': 91.70999908447266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 45.12998962402344,
     'height': 7.019999980926514,
     'text': 'Molise'}],
   [{'top': 94.7,
     'left': 624.27,
     'width': 130.6300048828125,
     'height': 5.519999980926514,
     'text': 'atori di riferimento regionale'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 66.36997985839844,
     'height': 7.019999980926514,
     'text': 'Campania'}],
   [{'top': 94.7,
     'left': 626.45,
     'width': 91.70999908447266,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 43.68998718261719,
     'height': 7.019999980926514,
     'text': 'Puglia'}],
   [{'top': 94.7,
     'left': 627.42,
     'width': 91.7599868774414,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 63.97001647949219,
     'height': 7.019999980926514,
     'text': 'Basilicata'}],
   [{'top': 94.7,
     'left': 624.78,
     'width': 127.40995025634766,
     'height': 5.519999980926514,
     'text': 'tori di riferimento regionale'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 55.21000671386719,
     'height': 7.019999980926514,
     'text': 'Calabria'}],
   [{'top': 94.7,
     'left': 625.84,
     'width': 88.03995513916016,
     'height': 5.519999980926514,
     'text': 'atori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 41.16996765136719,
     'height': 7.019999980926514,
     'text': 'Sicilia'}],
   [{'top': 94.7,
     'left': 625.6,
     'width': 88.0400161743164,
     'height': 5.519999980926514,
     'text': 'atori di riferimento'}]]},
 {'extraction_method': 'stream',
  'top': 42.42,
  'left': 622.16,
  'width': 134.07550048828125,
  'height': 65.04399871826172,
  'right': 756.2355,
  'bottom': 107.464,
  'data': [[{'top': 70.64,
     'left': 623.26,
     'width': 63.48997497558594,
     'height': 7.019999980926514,
     'text': 'Sardegna'}],
   [{'top': 94.7,
     'left': 622.3,
     'width': 91.6900405883789,
     'height': 5.519999980926514,
     'text': 'ratori di riferimento'}]]}]

We note that the produced output is very complex. However, the general structure contains the region name of the i-th region in the position `regions_raw[i]['data'][0][0]['text']`. We build a list with all the regions, by looping into the `region_raw` list.

In [226]:
regions = []
for i in range(0,len(regions_raw)):
    regions.append(regions_raw[i]['data'][0][0]['text'])

regions

['Piemonte',
 "Valle D'Aosta",
 'Lombardia',
 'Bolzano',
 'Trento',
 'Veneto',
 'FriuliVeneziaGiulia',
 'Liguria',
 'EmiliaRomagna',
 'Toscana',
 'Marche',
 'Lazio',
 'Abruzzo',
 'Molise',
 'Campania',
 'Puglia',
 'Basilicata',
 'Calabria',
 'Sicilia',
 'Sardegna']

## Extract the table for the first page (Piedmont region)

We define the bounding box and we multiply each value for the conversion factor `fc`. In order to understand how the mechanism works, firstly, we extract the table of the first page and then we generalize to all the pages. In our example, the first page corresponds to page 3.

In [227]:
box = [8,10,25,26]
for i in range(0, len(box)):
    box[i] *= fc

Now we can read the pdf. In this case we set the `output_format` to `dataframe`. The result is stored in `tl`, which is a list. We can convert it to a dataframe, simply using `tl[0]`.

In [228]:
page = 3
tl = tb.read_pdf(file, pages=page,area=[box],output_format="dataframe", stream=True)
df = tl[0]
df.head()

  17 operatori sanitari    Unnamed: 1
0                   NaN           NaN
1                   NaN           NaN
2          Fascia d'età  Casi [n (%)]
3                   0-9      4 (0.6%)
4                 10-19      3 (0.5%)

We note that the columns names are wrong. In addition, the first three rows are wrong. For this reason, we can rename the columns names by using the dataframe function `rename()`.

In [229]:
df.rename(columns={ df.columns[0]: "Fascia d'età" , df.columns[1]: "Casi"}, inplace = True)
df.head()

   Fascia d'età          Casi
0           NaN           NaN
1           NaN           NaN
2  Fascia d'età  Casi [n (%)]
3           0-9      4 (0.6%)
4         10-19      3 (0.5%)

Now we can drop the first two rows by using the `dropna()` function.

In [230]:
df = df.dropna()
df.head()

   Fascia d'età          Casi
2  Fascia d'età  Casi [n (%)]
3           0-9      4 (0.6%)
4         10-19      3 (0.5%)
5         20-29     27 (4.2%)
6         30-39       39 (6%)

We can drop the new first row by selecting all the rows which do not contain this value.

In [231]:
df = df[df["Fascia d'età"] != "Fascia d'età"]
df.head(8)

   Fascia d'età         Casi
3           0-9     4 (0.6%)
4         10-19     3 (0.5%)
5         20-29    27 (4.2%)
6         30-39      39 (6%)
7         40-49   79 (12.2%)
8         50-59  103 (15.9%)
9         60-69  113 (17.5%)
10        70-79  137 (21.2%)

Now we add a new column to `df`, called `Regione` which contains the region name. We scan the `pages` list to extract the index of the current region.

In [232]:
region_column = []
df = tl[0]
for i in range(0, len(df)):
    index = pages.index(page)
    region_column.append(regions[index])

df['Regione'] = region_column
df.head()

   Fascia d'età          Casi   Regione
0           NaN           NaN  Piemonte
1           NaN           NaN  Piemonte
2  Fascia d'età  Casi [n (%)]  Piemonte
3           0-9      4 (0.6%)  Piemonte
4         10-19      3 (0.5%)  Piemonte

## Extract all pages
Now we can generalize the previous code to extract the tables of all the pages. Firstly, we build an empty `DataFrame`, which will contain the values for all the regions. We will use the `pd.concat()` function to concatenate all the tables of alle the pages.
We scan all the pages contained in the `pages` list.

In [233]:
import pandas as pd
df = pd.DataFrame()
for page in pages:
    
    index = pages.index(page)
    region = regions[index]
    print(region)
    
    tl = tb.read_pdf(file, pages=page,area=[box],output_format="dataframe", stream=True)
    
    dft = tl[0]
    dft.rename(columns={ dft.columns[0]: "Fascia d'età" , dft.columns[1]: "Casi"}, inplace = True)
    
    region_column = []
    for i in range(0, len(dft)):
        region_column.append(region)
    dft['Regione'] = region_column
    
    df = pd.concat([df, dft])

Piemonte
Valle D'Aosta
Lombardia
Bolzano
Trento
Veneto
FriuliVeneziaGiulia
Liguria
EmiliaRomagna
Toscana
Marche
Lazio
Abruzzo
Molise
Campania
Puglia
Basilicata
Calabria
Sicilia
Sardegna

As in the previous case, we drop all wrong records.

In [234]:
df.dropna(inplace=True)
df = df[df["Fascia d'età"] != "Fascia d'età"]
df.head(30)

   Fascia d'età          Casi        Regione
3           0-9      4 (0.6%)       Piemonte
4         10-19      3 (0.5%)       Piemonte
5         20-29     27 (4.2%)       Piemonte
6         30-39       39 (6%)       Piemonte
7         40-49    79 (12.2%)       Piemonte
8         50-59   103 (15.9%)       Piemonte
9         60-69   113 (17.5%)       Piemonte
10        70-79   137 (21.2%)       Piemonte
11        80-89   108 (16.7%)       Piemonte
12       &gt;90     28 (4.3%)       Piemonte
13     Non noto      6 (0.9%)       Piemonte
0         10-19        0 (0%)  Valle D'Aosta
1         20-29     2 (28.6%)  Valle D'Aosta
2         30-39     1 (14.3%)  Valle D'Aosta
3         40-49        0 (0%)  Valle D'Aosta
4         50-59     1 (14.3%)  Valle D'Aosta
5         60-69     1 (14.3%)  Valle D'Aosta
6         70-79     1 (14.3%)  Valle D'Aosta
7         80-89        0 (0%)  Valle D'Aosta
8        &gt;90        0 (0%)  Valle D'Aosta
9      Non noto        0 (0%)  Valle D'Aosta
1           0-9     61 (0.4%)      Lombardia
2         10-19     77 (0.5%)      Lombardia
3         20-29    456 (3.1%)      Lombardia
4         30-39    900 (6.1%)      Lombardia
5         40-49  1637 (11.2%)      Lombardia
6         50-59  2724 (18.6%)      Lombardia
7         60-69  2671 (18.2%)      Lombardia
8         70-79  3306 (22.6%)      Lombardia
9         80-89  2379 (16.2%)      Lombardia

## Save results to CSV
Now we can save the result as a csv file.

In [235]:
df.to_csv('output.csv')